@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
.footer {
    font-family: 'Montserrat', sans-serif;
}

* {
  font-family: 'Quicksand', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

/* LOGIN & SIGNUP FORM */
.grid-box {
  height: 50px;
}
input,
span,
label {
  font-family: 'Quicksand', sans-serif;
  display: block;
  margin: 10px;
  padding: 0 5px;
  font-size: 15px;
}

input:focus {
  outline: 0;
  border: none;
}

input.question {
  font-size: 25px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  text-align: right;
  width: 99%;
  height: 1.8em;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
}

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 30%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 20px;
  padding-left: 2px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -60px;
  font-size: 12px;
  font-weight: bold;
  color: #d1d1d1;
}

input.question:valid + label {
  border-color: green;
  width: auto;
}

input.question:invalid {
  box-shadow: none;
}

input.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 25px;
  top: -40px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}


@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.form-container {
  height: 35em;
  width: 30em;
}

/* ANIMATION IN TEXT */
.animate-characters {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #152157 0%, #44008c 29%, #ff0457 67%, #ffb300 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  select {
    color: #000;
  }

 /* HAMBURGER MENU  */
  /* #menu_checkbox {
    display: none;
  }
  
  label {
    display: block;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    transition: 0.3s ease transform;
    cursor: pointer;
  }
  
  label div {
    position: relative;
    top: 18px;
    width: 6px;
    height: 6px;
    background-color: #ec3232;
    margin-left: 0;
    margin-bottom: 4px;
    border-radius: 4px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
      0.3s ease background-color;
  }
  
  label div:first-child {
    width: 22px;
  }
  
  label div:nth-child(2) {
    width: 15px;
  }
  
  label div:last-child {
    width: 30px;
    margin-bottom: 0;
  }
  
  #menu_checkbox:checked + label {
    transform: translateY(-50%) rotateZ(-90deg);
  }
  
  #menu_checkbox:checked + label div {
    width: 6px;
    margin-left: 12px;
    margin-bottom: 3px;
    background-color: #ffc107;
  }
   */
/* CAROUSEL CSS */

.carousel-wrapper {
  top: 20px;
  width: 100vw; /* Full width of the viewport */
  height: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.carousel-container {
  width: 99vw; /* Full width of the viewport */
  height: 45vw;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: 500vw;
  animation: sliding 15s infinite linear;
  opacity: 0.6;
}

.carousel div {
  flex: 1;
  min-width: 100vw; /* Full width of the viewport for each image */
  height: 50vw;
  background-size: cover;
  background-position: center;
}
/* 
.carousel:hover {
  animation-play-state: paused;
} */

.carousel .image-one {
  background-image: url("./images/image1.jpg");
}

.carousel .image-two {
  background-image: url("./images/image2.jpg");
}

.carousel .image-three {
  background-image: url("./images/image3.jpg");
}

.carousel .image-four {
  background-image: url("./images/image5.jpg");
}

.carousel .image-five {
  background-image: url("./images/image4.jpg");
}

@keyframes sliding {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-100vw);
  }
  45% {
    transform: translateX(-100vw);
  }
  55% {
    transform: translateX(-200vw);
  }
  65% {
    transform: translateX(-200vw);
  }
  75% {
    transform: translateX(-300vw);
  }
  90% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translateX(-400);
  }
  0% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) and ( max-width: 1023px ) {
  .carousel-wrapper {
    width: 100vw;
    height: 200vh;    
    border: 2px solid blue;
  }

  .carousel-container {
    width: 100vw;
    height: 140vh;
    padding: 2px;
  }

  .carousel {
    width: 100vw;
    height: 150vh;
    margin: 2px;
  }

  .carousel > div {
    min-width: 100vw;
    padding: 2px;
    height: 150vh;
  }

  @keyframes sliding {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-100vw);
    }
    25% {
      transform: translateX(-100vw);
    }
    45% {
      transform: translateX(-200vw);
    }
    50% {
      transform: translateX(-200vw);
    }
    70% {
      transform: translateX(-300vw);
    }
    75% {
      transform: translateX(-340vw);
    }
    95% {
      transform: translateX(-400vw);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media screen and (max-width: 768px) {
  .carousel-wrapper {
    width: 100vw;
    height: 210vh;    
  }

  .carousel-container {
    width: 100vw;
    height: 100vh;
    padding: 2px;
  }

  .carousel {
    width: 800vw;
    height: 100vh;
  }

  .carousel > div {
    min-width: 50vw;
    padding: 2px;
    height: 650px;
  }

  @keyframes sliding {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-100vw);
    }
    25% {
      transform: translateX(-200vw);
    }
    45% {
      transform: translateX(-300vw);
    }
    50% {
      transform: translateX(-400vw);
    }
    70% {
      transform: translateX(-500vw);
    }
    75% {
      transform: translateX(-600vw);
    }
    95% {
      transform: translateX(-650vw);
    }
    100% {
      transform: translateX(0);
    }
  }
}
